# Ignorar archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Ignorar dependencias de Node.js
node_modules/

# Ignorar archivos de construcción
dist/
build/

# Ignorar archivos de configuración y logs
*.log
.env

# Ignorar directorios temporales o de caché
tmp/
.cache/

# Ignorar los archivos CSS y JavaScript generados automáticamente
*.css.map
*.js.map

# Ignorar archivos específicos del editor
.vscode/
.idea/
*.swp

# Ignorar el archivo generado para Git
.gitignore
